<div class="form-wrapper">
  <h1>ログイン</h1>
  <%= form_with url: "/login" do |f| %>
    <div class="form">
      <div class="form-item">
        <h2>メールアドレス</h2>
        <%= f.text_field :email, class: "textbox" %>
      </div>
      <div class="form-item">
        <h2>パスワード</h2>
        <%= f.text_field :password, type: "password", class: "textbox" %>
      </div>
      <div class="btns">
        <%= f.submit "ログイン", class: "btn" %>
      </div>
    </div>
  <% end %>
</div>