<div class="wrapper">
  <h1><%= @user.name %></h1>
  <div class="user-btnarea">
    <% if @user.id == @current_user.id %>
      <%= link_to("アカウント情報の編集", "/users/#{@current_user.id}/edit", class: "btn") %>
      <%= link_to("", "/settings", class: "icon fas fa-cog") %>
    <% end %>
  </div>
</div>