<div class="fixed-box-wrapper">
  <section class="fixed-box box1">
    <div class="box1-content">
      <h1>
        <span class="bgextend bgLRextendTrigger"><span class="bgappearTrigger">
          Be <span class="bgyellow">creative</span><br>
          with your friends.
        </span></span>
      </h1>
      <%= image_tag 'light.png' %>
    </div>
  </section>
  <section class="fixed-box box2">
    <h1>勉強、部活、行事。やることは沢山ある。でもやりたいこと、作りたいものがある。そんなとき、ここで仲間を探してみよう。</h1>
  </section>
  <section class="fixed-box box3">
    <h1>Area 3</h1>
  </section>
  <section class="fixed-box box4">
    <small>&copy; copyright.Naki</small>
  </section>
</div>

<%= javascript_pack_tag 'bgextendlr' %>