<div class="form-wrapper">
  <h1>新規トークルーム作成</h1>
  <%= form_tag("/chats/crate") do %>
    <div class="form">
      <div class="form-item">
        <h2>グループ名</h2>
        <input name="name" value="<%= @room.name %>" class="textbox">
      </div>
      <div class="form-item">
        <h2>グループの概要</h2>
        <input name="about" value="<%= @room.caption %>" class="textbox">
      </div>
    </div>
    <div class="btns">
      <input type="submit" value="新規登録" class="btn">
    </div>
  <% end %>
</div>