<div class="not-scroll">
  <div class="chat-wrapper">
    <li class="room-li">
      <% @rooms.each do |room| %>
        <ul>
          <%= link_to("/chats/#{room.id}") do %>
            <h2><%= room.name %></h2>
            <p>トーク内容</p>
          <% end %>
        </ul>
      <% end %>
      <ul>
        <%= link_to("/chats/create") do %>
          <i class="fas fa-plus"></i>
          <p>トークルーム追加</p>
        <% end %>
      </ul>
    </li>
    <section class="talk-room">
      <div class="chat-box">
        <div class="partner-msg">
          <div class="text-msg">aaaaaaa</div>
        </div>
        <div class="partner-msg">
          <div class="text-msg">aaaaaaa</div>
        </div>
        <div class="user-msg">
          <div class="text-msg">aaaaaaa</div>
        </div>
      </div>
      <div class="text-box">
        <div class="border">
          <textarea class="new-msg" rows="1" name="msg"></textarea>
        </div>
        <i class="far fa-paper-plane"></i>
      </div>
    </section>
  </div>
  
  <%= javascript_pack_tag 'chats/chats' %>
</div>