<div class="chat-wrapper">
  <li class="room-li">
    <ul>
      <h2>ユーザー1</h2>
      <p>トーク内容</p>
    </ul>
    <ul>
      <h2>ユーザー2</h2>
      <p>トーク内容</p>
    </ul>
    <ul>
      <h2>ユーザー3</h2>
      <p>トーク内容</p>
    </ul>
  </li>
  <div class="talk-room">
    bbbbbbbb
  </div>
</div>

<%= javascript_pack_tag 'chats/chats' %>