<div class="wrapper">
  <div class="entry-list">
    <% if @entries.size > 0 %>
      <% @entries.each do |entry| %>
        <div class="entry-box">
          <div class="entry-user-box">
            <%= link_to("/users/#{entry.user.id}") do %>
              <% if entry.user.icon? %>
                <%= image_tag entry.user.icon.url, class:"usericon" %>
              <% else %>
                <img src="/assets/icon.png" alt="icon" class="usericon">
              <% end %>
              <p><%= entry.user.name %></p>
            <% end %>
          </div>
          <div class="entry-content">
            <p><%= entry.content %></p>
          </div>
        </div>
      <% end %>
    </p>
    <% else %>
      <p>応募はまだありません</p>
    <% end %>
  </div>
</div>