<div class="form-wrapper">
  <h1>新規募集</h1>
  <%= form_tag("/projects/#{@project.id}/entry") do %>
    <div class="form">
      <div class="form-item">
        <h2>自己PR</h2>
        <textarea name="content" class="textarea"><%= @entry.content %></textarea>
      </div>
    </div>
    <div class="btns">
      <input type="submit" value="応募" class="btn">
    </div>
  <% end %>
</div>