<div class="form-wrapper">
  <h1>新規募集</h1>
  <%= form_with model: @entry, url: "/projects/#{params[:id]}/entry" do |f| %>
    <div class="form">
      <div class="form-item">
        <h2>自己PR</h2>
        <%= f.text_area :content, class: "textarea" %>
      </div>
    </div>
    <div class="btns">
      <%= f.submit "応募", class: "btn" %>
    </div>
  <% end %>
</div>