<section class="tl-post-list">
  <%= form_tag("/posts/#{@post.id}/update") do %>
      <textarea class="newpost-text" rows="2" name="content"><%= @post.content %></textarea>
      <div class="newpost-items">
        <i class="far fa-image"></i>
        <input type="submit" value="保存" class="btn">
      </div>
  <% end %>
</section>

<%= javascript_pack_tag 'posts/postform' %>