@charset "utf-8";
@import "_variable";

.form-wrapper {
  width: 90%;
  max-width: 500px;
  margin: 0 auto 0;
  text-align: center;
}

.form {
  padding: 20px;
  margin-top: 20px;
  text-align: left;
  user-select: none;
  .form-item {
    margin-bottom: 28px;
    h2 {  
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 12px;
    }
    .textbox {
      background-color: white;
      resize: vertical;
      padding: 10px;
      font-size: 16px;
      width: 100%;
      outline: none;
      border: none;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
    }
    .user-list {
      background-color: white;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
      height: 240px;
      overflow-y: auto;
      ul {
        padding: 0 12px;
        li {
        border-bottom: solid 1px $accent-color-line;
          padding: 15px;
          &:last-of-type{
            border-bottom: none;
            a {
              display: flex;
            }
          }
        }
      }
    }
  }
}