@charset "utf-8";
@import "_variable";

header {
  background-color: $accent-color-header;
  width: 100%;
  padding: 12px 3% 4px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  z-index: 999;
  user-select: none;
  * {
    font-family: 'Abel', sans-serif;
    pointer-events: auto;
  }
  .header-logo {
    font-size: 32px;
    font-weight: normal;
    color: $base-color-400;
    transition: 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
  ul {
    margin: 0;
  }
  .pc-nav {
    ul {
      display: flex;
      li {
        margin: 0 16px;
        padding: 0 12px;
        font-size: 24px;
        transition: 0.3s;
        &:hover {
          opacity: 0.5;
        }
        .header-list-item {
          color: $base-color-400;
          position: relative;
          &::after {
            content: '';
            /*絶対配置で線の位置を決める*/
            position: absolute;
            bottom: 0;
            left: -10%;
            /*線の形状*/
            width: 120%;
            height: 1px;
            background: $base-color-400;
            opacity: 0.7;
            /*アニメーションの指定*/
            transition: all .3s;
            transform: scale(0, 1);/*X方向0、Y方向1*/
            transform-origin: center top;/*上部中央基点*/
          }
        }
      }
      .header-list-item:hover::after {
        transform: scale(1, 1);/*X方向にスケール拡大*/
      }
    }
  }
}

.top-header {
  .header-logo {
    color: $base-color-100;
  }
  .headerColorScroll {
    color: $base-color-400;
  }
  .pc-nav {
    ul {
      li {
        .header-list-item {
          color: $base-color-100;
          &::after {
            /*線の形状*/
            background: $base-color-100;
          }
        }
        .headerColorScroll {
          color: $base-color-400;
            &::after {
            content: '';
            background: $base-color-400;
          }
        }
      }
    }
  }
}