.post-list {
  padding-top: 10px;
  .post-box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px 20px 5px;
    .post-top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      font-size: 20px;
      .post-user-box {
        display: flex;
      }
      i {
        font-size: 18px
      }
    }
    .post-content {
      width: 100%;
      font-size: 25px;
      text-align: left;
    }
    .post-items {
      display: flex;
      justify-content: flex-end;
      user-select: none;
      .fav-icon {
        display: flex;
        font-size: 20px;
        transition: 0.3s;
        padding: 10px;
        &:hover {
          opacity: 0.5;
        }
        i {
          padding-right: 5px;
        }
      }
      > i {
        font-size: 20px;
        transition: 0.3s;
        padding: 10px;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}