.post-list {
  padding-top: 10px;
  .post-box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px 20px 5px;
    .post-user-box {
      display: flex;
      font-size: 20px;
      padding-bottom: 10px;
    }
    .post-content {
      width: 100%;
      font-size: 25px;
    }
    .post-items {
      display: flex;
      justify-content: flex-end;
      user-select: none;
      i {
        font-size: 20px;
        transition: 0.3s ;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}