@charset "utf-8";
$colors: (
  main: #000,
  sub: rgb(255, 255, 255),
  accent: rgb(150, 150, 150),
  header: rgba(0, 0, 0, 0),
  line: #e1e3e8
);
@function c($color) { 
  @return #{map-get($colors, $color)}
}