/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@charset "utf-8";
@import "_reset";
@import "_variable";
* {
  font-family: "游ゴシック", "Yu Gothic";
  color: $base-color-400;
  user-select: none;
}

body {
  background-color: white;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: $main-color;
}

.btns {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.btn {
  display: block;
  color: $base-color-400;
  margin: 8px;
  padding: 8px;
  width: fit-content;
  border: 1px solid $base-color-400;
  font-size: 20px;
  background: white;
  transition: 0.3s ;
  user-select: none;
  &:hover {
    opacity: 1;
    color: $base-color-100;
    background: $base-color-400;
  }
}

.btn-list {
  background: white;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  position: relative;
  padding: 0 20px;
  margin: 20px;
  user-select: none;
  li {
    line-height: 1.5;
    padding: 20px;
    border-bottom: solid 1px $accent-color-line;
    list-style-type: none!important;
    font-weight: normal;
    &:last-of-type{
      border-bottom: none;
    }
    a {
      display: flex;
      transition: 0.3s ;
      line-height: 100%;
      font-size: 20px;
      &:hover {
        opacity: 0.5;
      }
      i {
        padding-right: 20px;
      }
    }
  }
}

img {
  width: 100%;
}

.wrapper {
  width: 50%;
  max-width: 1190px;
  margin: 0 auto 0;
  text-align: center; 
}

.under-header {
  height: 76px;
}

.redtext * {
  color: $accent-color-danger;
}

@import "_header";
@import "_message";
@import "_modalmenu";