@charset "utf-8";
@import "_variable";

.chats {
  overflow: hidden;
}

.chat-wrapper {
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  .room-li {
    list-style-type: none;
    flex: 1;
    margin: 0 10px 15px;
    padding: 10px;
    overflow: auto; 
    ul {
      border-bottom: solid 1px $accent-color-line;
      padding: 15px;
      &:last-of-type{
        border-bottom: none;
        a {
          display: flex;
        }
      }
      h2 {
        font-weight: normal;
        font-size: 20px;
        padding-bottom: 10px;
      }
      p {
        color: $base-color-300;
      }
    }
  }
  .talk-room {
    flex: 2;
    margin: 0 10px 15px;
    border: 1px solid $accent-color-line;
    background: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .chat-box {
      width: 100%;
      flex-grow: 1;
      padding: 10px;
      border-bottom: solid 2px $accent-color-line;
      display: flex;
      flex-direction: column;
      .partner-msg {
        margin: 1.5em 0 1.5em 16px;
        .text-msg {
          position: relative;
          display: inline-block;
          padding: 8px 12px;
          min-width: 120px;
          max-width: 100%;
          font-size: 16px;
          background: $base-color-250;
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: -16px;
            margin-top: -12px;
            border: 8px solid transparent;
            border-right: 12px solid $base-color-250;
          }
        }
      }
      .user-msg {
        margin: 1.5em 16px 1.5em auto;
        .text-msg {
          position: relative;
          display: inline-block;
          padding: 8px 12px;
          min-width: 120px;
          max-width: 100%;
          font-size: 16px;
          background: $base-color-150;
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: -16px;
            margin-top: -12px;
            border: 8px solid transparent;
            border-left: 12px solid $base-color-150;
          }
        }
      }
    }
    .text-box {
      width: 100%;
      margin-top: auto;
      height: auto;
      padding: 12px;
      display: flex;
      .border {
        padding: 12px 4px 12px 12px;
        width: 100%;
        border: solid 2px $accent-color-line;
        border-radius: 16px;
        .new-msg {
          width: 100%;
          font-size: 16px;
          resize: none;
          overflow: hidden;
          border: none;
          &:focus {
            outline: none;
            border: none;
          }
        }
        .ok-scroll {
          overflow-y: scroll;
        }
      }
      .box-focus {
        border: solid 2px $accent-color-line-active;
      }
      i {
        margin-top: auto;
        font-size: 20px;
        transition: 0.3s;
        padding: 12px 4px 16px 12px;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}